#container {
  border: 1px dotted;
  padding-left: 80px;
  padding-right: 80px;
  border-color: gray; }
  #container #result {
    border: 1px solid;
    width: 600px;
    height: 420px; }

.sm {
  font-size: 0.8em; }
